%link{href: "css/blockquote.css", :rel => "stylesheet"}
%blockquote
	%p
		You've gotta dance like there's nobody watching,
		%br
		Love like you'll never be hurt,
		%br
		Sing like there's nobody listening,
		%br
		And live like it's heaven on earth.
	%footer
		%cite
			Oscar Wilde